@page
@using Pnprpg.WebCore.Helpers
@model RaceModel
@{
    ViewData["Title"] = "Создание персонажа";
    if (Model.IsPartial) { Layout = null; }
    await Html.RenderPartialAsync(SitePages.Shared_Status, Model.Status);
    await Html.RenderPartialAsync(SitePages.MajorHeroGen_Stage, (Model.CurrentStage, Model.Hero.MaxStage));
}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle mw-160" type="button" data-toggle="dropdown">Выберите расу&nbsp;</button>
    <div class="dropdown-menu dropdown-light">
        @foreach (var race in Model.Races)
        {
            <a class="dropdown-item" data-toggle="collapse" href="#raceDesc_@race.Id">
                @race.Name
            </a>
        }
    </div>
</div>

<div class="accordion">
    @foreach (var race in Model.Races)
    {
        <div class="collapse py-2" id="raceDesc_@race.Id" data-parent=".accordion">
            <h4>@race.Name</h4>
            <div class="text-left">@Html.Raw(race.Description)</div>
            <div class="text-left mb-3">
                <b>Бонусы к атрибутам:</b>
                @foreach (var ability in race.Modifiers)
                {
                    <span class="separate"><b>@ability.Modifier.ToString("+#;-#;0")</b> @ability.Ability.Name</span>
                }
                @if (!race.Modifiers.Any())
                {
                    @:Нет
                }
            </div>
            @foreach (var bonus in race.Bonuses)
            {
                <div class="text-left">
                    <b>@bonus.Name:</b>
                    <div>@Html.Raw(bonus.Description)</div>
                </div>
            }
            <button type="button" class="btn btn-success my-2 mw-160 add-params" form="racePickForm" data-target="#params_@race.Id">
                Выбрать
            </button>
            <div id="params_@race.Id">
                <input type="hidden" value="@race.Id" name="id" />
            </div>
        </div>
    }
</div>

<form id="racePickForm" method="post" action="@Url.CustomPage(SitePages.MajorHeroGenRace)" asp-antiforgery="true"
      data-ajax="true" data-ajax-begin="AjaxJs.begin" data-ajax-complete="AjaxJs.end" data-ajax-update="#main">
    @Html.Hidden("id")
</form>