@model Pnprpg.DomainService.Models.AlchemySummary

<h3>Алхимия</h3>
<h5>Алхимические ингредиенты</h5>

<table class="table text-center">
    <tr>
        <th class="text-center">Символ</th>
        <th>Эссенция</th>
        <th>Символ</th>
        <th>Процесс</th>
    </tr>
    @for (var i = 0; i < Model.Reagents.Count; i++)
    {
        var r = Model.Reagents[i];
        var p = Model.Processes[i];
        <tr>
            <td>@r.Symbol</td>
            <td>@r.Name</td>
            <td>@p.Symbol</td>
            <td>@p.Name</td>
        </tr>
    }
</table>

<h5>Продукты реакций</h5>

<table class="table table-bordered">
    <tr>
        <td></td>
        @foreach (var process in Model.Processes.GroupBy(x => x.Value).Select(x => x.First()))
        {
            <th>@process.Name</th>
        }
    </tr>
    @foreach (var r in Model.Reagents.GroupBy(x => x.Value).Select(x => x.First()))
    {
        <tr>
            <th>@r.Name</th>
            @foreach (var process in Model.Processes.GroupBy(x => x.Value).Select(x => x.First()))
            {
                <td>
                    @{
                        var res = Model.Reactions.SingleOrDefault(x => x.Process == process.Value && x.Reagent == r.Value);
                        @(res == null ? "-" : res.Potion.Name)
                    }
                </td>
            }
        </tr>
    }
</table>