@model List<Pnprpg.DomainService.Models.BranchViewModel>

<h5 id="b2">Классы</h5>
<p>
    Класс определяет призвание вашего персонажа и основные навыки. Изначально он есть у каждого персонажа и определяет его роль на поле боя, поведение в разговорах, а также
    возможные пути развития. Каждая раса по своему предрасположена к определённым классам, но не ограничивается ими.
    Начиная с пятого уровня персонаж может однократно выбрать себе один дополнительный класс для развития вместо обычного повышения уровня.
    <br /><b>Рекомендуемые ограничения:</b> каждым классом в качестве основного может обладать только 1 персонаж за столом
</p>
<br />
@foreach (var branch in Model)
{
    <b>@branch.Name</b>
    <div>@branch.ShortDescription</div>
    <br />
}

<div class="break"></div>
@{
    var i = 0;
}
@foreach (var branch in Model)
{
    <br />
    <h6>@branch.Name</h6>
    @Html.Raw(branch.Description)
    <p>Навыки</p>
    <ul>
        @foreach (var skill in branch.Skills)
        {
            <li>+1 @skill.Name</li>
        }
    </ul>
    <p>Бонус</p>
    <ul>
        @foreach (var bonus in branch.Bonuses)
        {
            <li>
                <b>@bonus.Name</b> -
                @Html.Raw(bonus.Description)
            </li>
        }
    </ul>
    <div style="text-align: center; font-weight: bold">Способности</div>
    <br/>
    <table>
        <tr>
            <th>Уровень</th>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        @foreach (var perk in branch.Perks.OrderBy(x => x.Level))
        {
            <tr>
                <td>@perk.Level</td>
                <td style="width: 200px;">@perk.Name</td>
                <td>@perk.Description</td>
            </tr>
        }
    </table>
    <div class="break"></div>
}
