@model List<Pnprpg.DomainService.Models.BranchViewModel>

<h5>Классы</h5>
<p>
    Класс определяет призвание вашего персонажа и основыне навыки. Изначально он есть у каждого персонажа и определяет его роль на поле боя, поведение в разговорах, а также
    возможные пути развития. Каждая раса по своему предрасположена к определённым классам, но не ограничивается ими. На высоких уровнях персонаж может также выбрать себе дополнительный
    класс для развития.
    <br /><b>Рекомендуемые ограничения:</b> каждым классом в качестве основного может обладать только 1 персонаж за столом
</p>
@{
    var i = 0;
}
@foreach (var branch in Model)
{
    <br />
    <h6>@branch.Name</h6>
    @Html.Raw(branch.Description)
    <p style="font-weight: bold">Навыки</p>
    <ul>
        @foreach (var skill in branch.Skills)
        {
            <li>+1 @skill.Name</li>
        }
    </ul>
    <div style="text-align: center; font-weight: bold">Способности</div>
    <br />
    foreach (var bonus in branch.Bonuses)
    {
        <p>
            <b>@bonus.Name</b> -
            @Html.Raw(bonus.Description)
        </p>
    }
    <table>
        <tr>
            <th>Уровень</th>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        @foreach (var perk in branch.Perks.OrderBy(x => x.Level))
        {
            <tr>
                <td>@perk.Level</td>
                <td style="width: 200px;">@perk.Name</td>
                <td>@perk.Description</td>
            </tr>
        }
    </table>
    <div class="break"></div>
}