@* ReSharper disable MarkupTextTypo *@
<h1 id="p4">Часть 4 Ведение боя</h1>

<p>
    Во время боя все боеспособные участники по очереди атакуют друг друга до тех пор, пока все стороны не решат прекратить сражение.
    Ход всех персонажей называется кругом. Во время своего хода персонаж может совершить ограниченное количество дейтствий, по умолчание - 1. Также персонаж может
    выполнить малое действие, если его сложность не требует особых проверок или длительного времени, иначе оно считается как полноценное действие, как например подъём по лестнице.
</p>
<p>Полноценные действия</p>
<ul>
    <li>Атака оружием</li>
    <li>Чтение заклинания</li>
    <li>Использование предмета, </li>
    <li>Атака оружием</li>
</ul>

<p>Малые действия</p>
<ul>
    <li>Доставание или передача предмета</li>
    <li>Краткое общение, крик</li>
    <li>Перемещение</li>
</ul>

<h5>Типы урона</h5>
<table>
    <tr><th style="width: 50%">Физический</th><th style="width: 50%">Магический</th></tr>
    <tr><td>Колющий</td><td>Огненный</td></tr>
    <tr><td>Режущий</td><td>Ледяной</td></tr>
    <tr><td>Дробящий</td><td>Электрический</td></tr>
    <tr><td>Яд</td><td>Психический</td></tr>
    <tr><td>Кислотный</td><td>Звуковой</td></tr>
    <tr><td>Силовой</td><td>Некротический</td></tr>
</table>
<div class="break"></div>
<h5>Защитные действия</h5>

<p>
    Один раз за раунд любое существо может среагировать на любую атаку ближнего боя перед броском на урон. 
</p>

@Defence("Контратака", "Сила", "Персонаж получает полный урон, но наносит мгновенный ответный удар", "Персонаж иметь возможность атаковать")
@Defence("Блок", "Выносливость", "При подсчёте урона броня от защищающего предмета удваивается", "Необходим защищающий предмет")
@Defence("Уклонение", "Ловкость", "Персонаж перемещается на 1 метр, игнорируя весь урон", "Должно быть место для отступления")
@Defence("Предсказание", "Интеллект", "Персонаж предсказывает поведение атакующего, защищая слабые места и получая половину урона", "Персонаж должен видеть или слышать атакующего")

@helper Defence(string name, string attr, string desc, string req)
{
    <h6>@name</h6>
    <table>
        <tr>
            <th style="width: 50%">Атрибут</th>
            <td style="width: 50%">@attr</td>
        </tr>
        <tr>
            <th>Описание</th>
            <th>Требования</th>
        </tr>
        <tr>
            <td><br />@desc<br /><br /></td>
            <td>@req<br /></td>
        </tr>
    </table>
    <br />
}