@using Boot.Enums;
@using Boot.Helpers;
@model List<Boot.Models.JsonModels.Perk>

<h5>Способности</h5>
<table class="table table-bordered">
    <tr>
        <th>Уровень</th>
        <th class="w-20">Название</th>
        <th class="w-25">Требования</th>
        <th class="w-50">Эффект</th>
    </tr>
    @foreach (var perk in Model)
    {
        <tr>
            <td class="text-center">@perk.Requirements.Single(x => x.Type == RequirementType.Level).Value</td>
            <td>@perk.Name</td>
            <td>
                @foreach (var r in perk.Requirements.Where(x => x.Type != RequirementType.Level).OrderBy(x => x.Type))
                {
                    switch (r.Type)
                    {
                        case RequirementType.Perk:
                            @Model.Single(x => x.Id == r.Value).Name<br />
                            break;
                        case RequirementType.Race:
                            @r.StrValue <br />
                            break;
                        case RequirementType.Stat:
                            @:@r.StatId: @r.Value
                            break;
                    }
                }
                @if (perk.Requirements.All(x => x.Type == RequirementType.Level))
                {
                    @:Нет
                }
            </td>
            <td>@perk.Desc</td>
        </tr>
    }
</table>