@using Pnprpg.DomainService.Helpers
@model List<Pnprpg.DomainService.Models.SkillViewModel>
<h5>Навыки</h5>
<p>
    Навыки делятся на лёгкие, обычные и сложные.
    Лёгкие не имеют штрафа, обычные имеют штраф в -1 очко, а сложные – штраф -2. Эти модификаторы могут меняться под другой уровень сложности.
</p>

<div class="table text-center">
    <table class="table table-bordered">
        <tr>
            <th>Название</th>
            <th>Атрибут</th>
            <th>Класс</th>
            <th>Тип</th>
        </tr>
        @foreach (var skill in Model)
        {
            <tr>
                <td>@skill.Name</td>
                <td>@AbilityInfo(skill.Ability.Symbol, skill.Difficulty - 1)</td>
                <td>@skill.BranchName</td>
                <td>@skill.Type.Description()</td>
            </tr>
        }
    </table>
</div>

@helper AbilityInfo(string symbol, int difficulty)
{
    @(difficulty == 0 ? $"{symbol}" : $"{symbol}-{difficulty}")
}