@model IQueryable<Pnprpg.DomainService.Models.MagicSchoolModel>
@{
    var i = 0;
}

<h1 id="p2">Часть 2 Магия</h1>
<h3>Школы и заклинания</h3>
<div class="mb-3 text-center">Для заклинаний указана изначальная цена, которая меняется при увеличении мастерства.</div>
<div class="text-center">
    @foreach (var school in Model)
    {
        i++;
        <h5>@school.Name</h5>
        <table class="table">
            <tr>
                <th style="width: 70px;">Мин. ур. школы</th>
                <th style="width: 120px;">Название</th>
                <th>Эффект</th>
                <th style="width: 70px;">Стоимость</th>
            </tr>
            @foreach (var spell in school.Spells)
            {
                <tr>
                    <td>@spell.Level</td>
                    <td>@spell.Name</td>
                    <td>
                        @(spell.Damage > 0 ? string.Format(spell.Effect, spell.Damage) : spell.Effect)
                    </td>
                    <td>@spell.Cost</td>
                </tr>
            }
        </table>
        <br />
        <br />

        <p class="break"></p>
    }
</div>@*
    <h3>Круг магов</h3>
    <p>
        Группа магов может раз в месяц объединиться для проведения совместного ритуала или череды заклятий. Круг могут образовать от 5 до 20 чародеев
        с разным уровнем мастерства и знаний. Каждый член будущего круга должен подтвердить своё согласие на вступление.
    </p>
    <p>
        Все участники получают защиту от входящей магии в зависимости от мощи круга.
        Круг слабеет, если хотя бы четверть магов не способна колдовать (персонажи без маны или без сознания).
        Если по истечению пяти ходов круг всё ещё слаб, он распадается.
    </p>
    <p>
        Старшие члены круга отбирают до 6 заклинаний, которые будут разыграны в случайном порядке.
        Знать каждое заклинание должен по крайней мере 1 член круга, но познание в соответствующей
        школе магии должно быть у большинства. Для сотворения заклинания тянется карта из подготовленной колоды со значениями от 1 до 6. Круг может отказаться от него и пропустить ход.
        Если же большинство согласно, желающие по очереди бросают указанное число кубов до тех пор, пока не потратят всю ману или на одном из кубов не выпадет
        число равное числу на карте заклинания. Каждый бросок тратит 1 единицу маны у 1 участника.
    </p>

    <div style="text-align: center">Уровни мощи</div>
    <br />
    <table>
        <tr><th>Суммарная мана участников</th><th>Кубиков на каждый бросок</th><th>Защита от магии</th><th>Усиление заклинаний</th></tr>
        <tr><td>100-</td><td>1</td><td>10%</td><td>x2</td></tr>
        <tr><td>200</td><td>2</td><td>20%</td><td>x3</td></tr>
        <tr><td>300</td><td>3</td><td>30%</td><td>х5</td></tr>
        <tr><td>400+</td><td>4</td><td>40%</td><td>x10</td></tr>
    </table>*@