@model IQueryable<Pnprpg.DomainService.Models.MagicSchoolModel>
@{
    var i = 0;
}

<h3>Магия</h3>
<div class="mb-3 text-center">Для заклинаний указана изначальная цена, которая меняется при увеличении мастерства.</div>
<div class="text-center">
    @foreach (var school in Model)
    {
        i++;
        <h5>@school.Name</h5>
        <table class="table">
            <tr>
                <th style="width: 70px;">Мин. ур. школы</th>
                <th style="width: 120px;">Название</th>
                <th>Эффект</th>
                <th style="width: 70px;">Стоимость</th>
            </tr>
            @foreach (var spell in school.Spells)
            {
                <tr>
                    <td>@spell.Level</td>
                    <td>@spell.Name</td>
                    <td>
                        @(spell.Damage > 0 ? string.Format(spell.Effect, spell.Damage) : spell.Effect)
                    </td>
                    <td>@spell.Cost</td>
                </tr>
            }
        </table>
        <br/>
        <br/>

        if (i % 2 == 1)
        {<p class="break"></p>}
    }
</div>
