@model List<Boot.Models.Trait>
<h5>Особенности</h5>
<p>
    Это те черты, которые делают персонажа одновременно лучше в одном, но хуже в другом.
    Умелое комбинирование навыков и особенностей поможет усилить плюсы и нивелировать минусы.
</p>
<table class="table-bordered">
    <tr>
        <th>Название</th>
        <th>Плюсы</th>
        <th>Минусы</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            @if (item.Effects != null)
            {
                <td>
                    @foreach (var boost in item.Effects.Where(x => x.Type == Boot.Enums.EffectType.Boost))
                    {
                        if (string.IsNullOrEmpty(boost.StatId))
                        {
                            @Html.Raw(string.Format(boost.Desc, $"+{boost.Value}"))
                        }
                        else
                        {
                            @Html.Raw(string.Format(boost.Desc, $"+{boost.Value}", boost.Stat.Name))
                        }
                    }
                    @foreach (var boost in item.Effects.Where(x => x.Type < 0))
                    {
                        @Html.Raw(string.Format(boost.Desc, boost.Value))
                    }
                </td>
                <td>
                    @foreach (var weak in item.Effects.Where(x => x.Type == Boot.Enums.EffectType.Weaken))
                    {
                        if (string.IsNullOrEmpty(weak.StatId))
                        {
                            @Html.Raw(string.Format(weak.Desc, $"-{weak.Value}"))
                        }
                        else
                        {
                            @Html.Raw(string.Format(weak.Desc, $"-{weak.Value}", weak.Stat.Name))
                        }
                        <br />
                    }
                    @foreach (var boost in item.Effects.Where(x => x.Type < 0))
                    {
                        @Html.Raw(string.Format(boost.Desc, boost.Value))
                    }
                </td>
            }
            else
            {
                <td colspan="2">-</td>
            }
        </tr>
    }
</table>
