@model Pnprpg.DomainService.Models.HeroModel
@{
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
    var border = "border: solid 1px black;";
}
<style>
    @{ Html.RenderAction("HeroSheetStyle");}
</style>
<br />
@for (var k = 0; k < 4; k++)
{
    <table style="border-collapse: collapse; @Pos(2 + (k%2)*52, (k/2)*72, 46, 50)">
        <tr>
            <th style="@border width: 5%">Ур<br /></th>
            <th style="@border width: 5%">Мана</th>
            <th style="@border width: 28%">Название</th>
            <th style="@border width: 12%">Готовность</th>
        </tr>
        @for (var i = 0; i < 13; i++)
        {
            <tr>
                <td style="@border"><br /><br /></td>
                <td style="@border"></td>
                <td style="@border"></td>
                <td style="@border text-align: center; font-size: 18px">
                    <span>O</span>
                    <span>O</span>
                    <span>O</span>
                    <span>O</span>
                </td>
            </tr>
        }
    </table>
}

@helper Pos(double x, double y, double w, double h)
{
    var vMod = 9;
    @($"position: fixed; left: {x:0,0}%; top:{y * vMod}px; width: {w:0,0}%; height: {h * vMod}px")
}