@model Pnprpg.DomainService.Models.HeroModel
@{
    Layout = "~/Views/Shared/_LayoutIntro.cshtml";
    var list = new[] { "Здоровье", "Вместимость", "Мана", "Карма", "Запас сил", "Урон", "Восприятие", "Защита" };
}
<style>
    @{ Html.RenderAction("HeroSheetStyle");}
</style>

<table class="table">
    <tr>
        <td class="px-3" style="width: 25%"><div class="bb pl-3">Имя <span class="float-right pr-2">@(Model?.Name)</span></div></td>
        <td class="px-3" style="width: 20%"><div class="bb pl-3">Класс</div></td>
        <td class="px-3" style="width: 20%"><div class="bb pl-3">Раса <span class="right pr-2">@(Model?.Race?.Name)</span></div></td>
        <td class="px-3" style="width: 20%"><div class="bb pl-3">Игрок</div></td>
        <td class="px-3" style="width: 15%"><div class="bb pl-3">Уровень</div></td>
    </tr>
</table>

@for (var i = 0; i < 4; i++)
{
    <div style="@Pos(1 + i * 12.8, 5, 9, 15)">
        <div class="text-center">
            <div class="">@Model.Abilities.List[i].Name (@Model.Abilities.List[i].Symbol)</div>
            <div class="circle"></div>
        </div>
        @for (var j = i * 2; j < i * 2 + 2; j++)
        {
            <div class="text-center">
                <div class="">@list[j]</div>
                <div class="circle">
                    @if (j != i*2 && i != 2)
                    {
                        <div class="bg" style="margin-top: 2px; margin-left: 5%; margin-right: 5%;">&nbsp;</div>
                    }
                </div>
            </div>
        }
    </div>
}


<div class="text-center" style="@Pos(51, 5, 23, 2)">Эффекты</div>
<div class="card" style="@Pos(51, 7, 23, 18)">
    @for (var i = 0; i < 4; i++)
    {<div class="bg">&nbsp;</div>}
</div>

<div class="text-center" style="@Pos(51, 27, 23, 2)">Особенности</div>
<div class="card" style="@Pos(51, 29, 23, 18)">
    @for (var i = 0; i < 4; i++)
    {<div class="bg">&nbsp;</div>}
</div>

<div class="text-center" style="@Pos(76, 5, 23, 2)">Заклинания</div>
<div class="card" style="@Pos(76, 7, 23, 40)">
    @for (var i = 0; i < 10; i++)
    {
        <div class="bg" style="text-align: right">
            <span>O</span>
            <span>O</span>
            <span>O</span>
            <span>O</span>
        </div>
    }
</div>

<div class="text-center" style="@Pos(1, 39, 23, 2)">Навыки </div>
<div class="card" style="@Pos(1, 41, 23, 55)">
    <div style="height: 5px">&nbsp;</div>
    @foreach (var skill in Model.Skills.List)
    {
        <span style="margin-left: 12%;">(</span>
        <span style="margin-left: 7%">)</span>
        @skill.Name
        <span style="float: right; color: gray; margin-right: 12%">
            (@skill.Ability.Symbol-@skill.Difficulty)
        </span>
        <br />
    }
</div>

<div class="text-center" style="@Pos(26, 39, 23, 54)">Способности</div>
<div class="card" style="@Pos(26, 41, 23, 55)">
    @for (var i = 0; i < 14; i++)
    {<div class="bg">&nbsp;</div>}
</div>

<div class="text-center" style="@Pos(51, 50, 48, 43)">Инвентарь</div>
<div class="card" style="@Pos(51, 52, 48, 44)">
    @for (var i = 0; i < 11; i++)
    {<div class="bg">&nbsp;</div>}
</div>

<div style="@Pos(70, 97, 28, 5)">
    <div style="color: gray; text-align: right">Table Adventures Generation System by AVE</div>
</div>

@helper Pos(double x, double y, double w, double h)
{
    var vMod = 9;
    @($"position: fixed; left: {x:0,0}%; top:{y * vMod}px; width: {w:0,0}%; height: {h * vMod}px")
}