@page
@using System.Globalization
@using Pnprpg.DomainService.Enums
@using Pnprpg.WebCore.Helpers
@model Pnprpg.WebCore.Pages.Donation.IndexModel
@{
    ViewData["Title"] = "Пожертвования";
}

<div class="mx-auto col-md-6 mt-2">
    @foreach (var donation in Model.Donations)
    {
        <div class="d-flex justify-content-between">
            <div class="text-left">@donation.Name</div>
            <div class="badge big-badge bg-danger">@donation.Total.ToString("C2", new CultureInfo("lv"))</div>
        </div>
        <div class="progress mt-2 mb-3">
            <div class="progress-bar progress-bar-striped bg-success" style="width: @donation.Percent()%"></div>
        </div>
    }
    <div>
        Номер счёта
        @Html.TextBox("account", Model.BankAccount, new { @class = "form-control text-center font-monospace" })
    </div>
    <div class="text-muted my-3">
        Создание каждого набора предположительно займёт 3 месяца
    </div>
</div>
@if (AccessHelper.UserInRole(User, UserRole.Admin))
{
    <div class="col-12">
        <a asp-page="@SitePages.AdminDonationsEdit" class="btn btn-warning">Редактировать</a>
    </div>
}