@using Microsoft.AspNetCore.Html
@using NonFactors.Mvc.Grid
@using Pnprpg.DomainService.Models
@using Pnprpg.WebCore.Helpers
@model IQueryable<Pnprpg.DomainService.Models.BranchViewModel>
@(Html.Grid(Model).Build(columns =>
{
    columns.Add(x =>x.Name).RenderedAs(Name).Titled("Название");
    columns.Add(x => x.Bonuses).RenderedAs(Bonuses).Titled("Бонусы");
    columns.Add(x => x.ShortDescription).Titled("Краткое описание").Css("d-none d-md-block");
    columns.Add(x => x).RenderedAs(Actions).Css("no-wrap");
}).Empty("No data found").Css("table table-responsive"))

@{
    IHtmlContent Name(BranchViewModel x) => PartialHelper.Body(
    @<div style="background-color: #@x.Color" class="p-2 rounded">@x.Name</div>);

IHtmlContent Actions(BranchViewModel x) => PartialHelper.Body(
@<a asp-page="@SitePages.EditorBranchesEdit" asp-route-id="@x.Id" class="btn btn-info fas fa-pen"></a>);

IHtmlContent Bonuses(BranchViewModel x) => PartialHelper.Body(
@<text>
    @foreach (var bonus in x.Bonuses)
    {
        <a asp-page="@SitePages.EditorBonusesEdit" asp-route-id="@bonus.Id" class="btn btn-light border-dark btn-sm my-1">
            @bonus.Name
        </a>
    }
    @if (!x.Bonuses.Any())
    {
        @:Нет
    }
</text>);
}
