@page
@using Pnprpg.DomainService.Models
@model Pnprpg.WebCore.Pages.Editor.Branches.EditModel
@{
    ViewData["Title"] = Model.Input.Id == 0 ? "Новый класс" : Model.Input.Name;
    var hasBonuses = Model.Bonuses != null && Model.Bonuses.Any();
}
<form class="col-12 mx-auto" method="post">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Input.Id)
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col-12">
            @Html.TextBoxFor(x => x.Input.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Цвет</label>
        <div class="col-12">
            @Html.TextBoxFor(x => x.Input.Color, new { @class = "form-control color-picker" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Краткое описание</label>
        <div class="col-12">
            @Html.TextAreaFor(x => x.Input.ShortDescription, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Описание</label>
        <div class="col-12 text-left">
            @Html.TextAreaFor(x => x.Input.Description, new { @class = "form-control html-editor" })
        </div>
    </div>

    @if (hasBonuses)
    {
        <button type="button" class="btn btn-outline-primary clone-btn"
                data-container="#hr" data-style="prepend" data-target=".default-bonus">
            Добавить бонус
        </button>
    }
    else
    {
        <div class="alert alert-danger">Нет доступных бонусов</div>
    }
    @if (Model.Bonuses != null)
    {
        var i = 0;
        foreach (var bonus in Model.Input.Bonuses)
        {
            var queryItem = new FormQueryItem(Model.Bonuses, i++, bonus);
            @await Html.PartialAsync("Editor/Selects/_BonusSelect", queryItem)
        }
    }
    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

@if (hasBonuses)
{
    <div class="d-none default-bonus">
        @{
            var defaultModel = new FormQueryItem(Model.Bonuses);
            @await Html.PartialAsync("Editor/Selects/_BonusSelect", defaultModel)
        }
    </div>
}