@using Pnprpg.DomainService.Enums
@model List<Pnprpg.DomainService.Models.BranchViewModel>
@{ Html.RenderAction("Wizard", "HeroGen", new { status = HeroGenStatus.Branch });}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle mw-160" type="button" data-toggle="dropdown">Выберите класс&nbsp;</button>
    <div class="dropdown-menu dropdown-light">
        @foreach (var branch in Model)
        {
            <a class="dropdown-item" data-toggle="collapse" href="#branchDesc_@branch.Id">
                @branch.Name
            </a>
        }
    </div>
</div>

<div class="accordion">
    @foreach (var branch in Model)
    {
        var i = 0;
        <div class="collapse py-2" id="branchDesc_@branch.Id" data-parent=".accordion">
            <h4>@branch.Name</h4>
            <div class="text-left">
                @Html.Raw(branch.Description)
                @foreach (var bonus in branch.Bonuses)
                {
                    <div class="text-left">
                        <b>@bonus.Name:</b>
                        <div>@Html.Raw(bonus.Description)</div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <b>Способности</b>
                    <table class="mx-auto">
                        @foreach (var perk in branch.Perks.OrderBy(x => x.Level))
                        {
                            <tr class="text-left">
                                <td>
                                    <div class="btn-dark btn-sm circle py-0 px-2 mt-1 border-0 font-weight-bold font-monospace">@perk.Level</div>
                                </td>
                                <td class="px-2">@perk.Name</td>
                                <td class="pt-1">
                                    <a tabindex="0" class="link-info" data-trigger="focus"
                                       data-placement="top" data-toggle="popover" role="button" data-content="@Html.Raw(perk.Description)">
                                        <i class="fas fa-question-circle h5"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-6 col-12">
                    <b>Навыки</b>
                    <div>
                        @foreach (var skill in branch.Skills)
                        {<div style="color: #@skill.Ability.Color">@skill.Name</div>}
                    </div>
                </div>
            </div>

            <button class="ajax-btn btn btn-success my-3 mw-160" data-url="@Url.Action("PickBranch", "BackStory", new {id = branch.Id})">
                Выбрать
            </button>
        </div>
    }
</div>