@model Pnprpg.DomainService.Models.Weapon.WeaponEditModel
@{
    ViewBag.Title = Model.Id == 0 ? "Новое оружие" : Model.Name;
}

@using (Html.BeginForm("EditWeapon", "Editor", FormMethod.Post, 
    new { @class = "col-md-6 col-12 mx-auto" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <label class="col-3 col-form-label text-left">Уровень</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Level, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label text-left">Вес</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Weight, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label text-left">Навык</label>
        <div class="col">
            @Html.DropDownListFor(x => x.SkillId, (SelectList)ViewBag.SkillList, new { @class = "form-control" })
        </div>
    </div>

    <button type="button" class="btn btn-success ajax-btn" data-container="hr" data-style="prepend"
            data-url="@Url.Action("BonusSelectModel","Editor")?position=" data-add="@(Model.Bonuses?.Count ?? 0)">
        Добавить бонус
    </button>
    if (Model.Bonuses != null)
    {
        var i = 0;
        foreach (var bonus in Model.Bonuses)
        {
            Html.RenderAction("ShowBonusSelectModel", "Editor", new { position = i++, bonusId = bonus.Id});
        }
    }
    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
}