@model Pnprpg.DomainService.Models.SkillEditModel
@{
    ViewBag.Title = Model.Id == 0 ? "Новый навык" : Model.Name;
}

@using (Html.BeginForm("EditSkill", "SkillEditor", FormMethod.Post, new { @class = "col-md-6 col-12 mx-auto" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Класс</label>
        <div class="col">
            @Html.DropDownListFor(x => x.BranchId, (SelectList)ViewBag.Branches, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Атрибут</label>
        <div class="col">
            @Html.DropDownListFor(x => x.AbilityId, (SelectList)ViewBag.Abilities, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Сложность</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Difficulty, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Тип</label>
        <div class="col">
            @Html.DropDownListFor(x => x.Type, (SelectList)ViewBag.Types, new { @class = "form-control" })
        </div>
    </div>

    <hr />
    <button type="submit" class="btn btn-success">Сохранить</button>
}