@using System.Configuration
@{
    ViewBag.Title = $"Table Adventures Generation System {ConfigurationManager.AppSettings["Version"]}";
}
<div class="row justify-content-center text-center mx-lg-2 mx-0 mt-2">
    @Card(Url.Action("Index", "HeroGen"), "Создать персонажа", "user", "Create a hero")
    <div class="col-12 d-md-none"></div>
    @Card(Url.Action("Index", "Book"), "Книга правил", "book", "Rule book", true)
    @Card(Url.Action("HeroSheets", "Book"), "Листы персонажа", "id-card", "Hero sheet")
    <div class="col-12"></div>
    @Card(Url.Action("Perks", "Home"), "Способности", "graduation-cap", "Perks")
    @Card(Url.Action("Index", "Magic"), "Школы магии", "hand-sparkles", "Magic")
    @Card(Url.Action("Index", "Alchemy"), "Алхимия", "mortar-pestle", "Alchemy")
    @Card(Url.Action("Weaponry", "Home"), "Оружейная", "gavel", "Weaponry")
</div>
@helper Card(string url, string name, string photo, string alt, bool blank = false)
{
    <div class="col-lg-3 col-md-4 col-6 p-0 card border-0">
        <i class="fas fa-4x fa-@photo py-3"></i>
        <div class="px-2">
            <a class="smallForSmall btn btn-outline-dark stretched-link btn-block" href="@url" 
               target='@(blank ? "_blank" : "_self")'>@name</a>
        </div>
    </div>
}