@model Pnprpg.DomainService.Models.NewsViewModel
@using System.Configuration
@using System.Globalization
@using Pnprpg.DomainService.Enums
@{
    ViewBag.Title = $"Table Adventures Generation System {ConfigurationManager.AppSettings["Version"]}";
    ViewBag.HideTitle = true;
}

<div class="display-6 m-3 my-5">Table Adventures Generation System @ConfigurationManager.AppSettings["Version"]</div>
@Card(Url.Action("Index", "HeroGen"), "Создать персонажа", "mask", "Create a hero")
@Card(Url.Action("Index", "Book"), "Книга игрока", "book", "Rule book", true)
@Card(Url.Action("HeroSheets", "Book"), "Листы персонажа", "id-card", "Hero sheet")
<div class="my-3"></div>

<div class="card smallForSmall">
    <div class="card-header d-sm-flex justify-content-between px-4 font-weight-bold">
        <div class="py-1 order-sm-last">@Model.Date.ToString("D", new CultureInfo("ru-ru"))</div>
        <div class="h4">@Model.Title</div>
    </div>
    <div class="card-body text-left p-3">
        @Html.Raw(Model.Content)
        @if (User.IsInRole(UserRole.Admin.ToString()))
        {
            <a href="@Url.Action("Edit", "News", new {id = Model.Id})" class="d-block text-right">
                <i class="fas fa-edit"></i>
            </a>
        }
    </div>
</div>
<div class="py-3">
    @Html.ActionLink("К другим новостям", "Index", "News", null, new { @class = "link-info" })
</div>

@helper Card(string url, string name, string photo, string alt, bool blank = false)
{
    <div class="col-lg-3 col-md-4 p-0 card border-0 d-md-block d-none">
        <i class="fas fa-4x fa-@photo py-3"></i>
        <div class="px-2">
            <a class="btn btn-outline-dark stretched-link btn-block" href="@url"
               target='@(blank ? "_blank" : "_self")'>@name</a>
        </div>
    </div>
    <div class="d-md-none p-0 col-sm-6">
        <a class="btn btn-outline-dark m-2 mx-3 d-block text-left" href="@url"
           target='@(blank ? "_blank" : "_self")'>
            <i class="fas fa-@photo fa-fw"></i>
            @name
        </a>
    </div>
} 