@using System.Configuration
@{
    ViewBag.Title = $"PnP RPG {ConfigurationManager.AppSettings["Version"]}";
}
    <div class="row justify-content-center text-center mx-lg-2 m-0">
        @Card(Url.Action("Index", "HeroGen"), "Создать персонажа", "generator.jpg", "Create a hero")
        @Card(Url.Action("Index", "Book"), "Книга правил", "rulebook.jpg", "Rule book", true)
        @Card(Url.Action("HeroSheets", "Book"), "Листы персонажа", "sheet.jpg", "Hero sheet")
        <div class="col-12"></div>
        @Card(Url.Action("Perks", "Home"), "Способности", "perks.jpg", "Perks")
        @Card(Url.Action("Index", "Magic"), "Школы магии", "schools.jpg", "Magic")
        @Card(Url.Action("Index", "Alchemy"), "Алхимия", "alchemy.jpg", "Alchemy")
        @Card(Url.Action("Weaponry", "Home"), "Оружейная", "weaponry.png", "Weaponry")
    </div>
@helper Card(string url, string name, string photo, string alt, bool blank = false)
{
    <div class="col-lg-3 col-md-4 col-6 p-0">
        <div class="card m-2">
            <img class="card-img-top" src="~/Content/images/@photo" alt="@alt" />
            <div class="card-footer px-1">
                <a class="stretched-link smallForSmall text-decoration-none" href="@url" target='@(blank ? "_blank" : "_self")'>@name</a>
            </div>
        </div>
    </div>
}