@using Boot.Enums
@using Boot.Helpers
@using Boot.Models.JsonModels
@model List<MagicSchoolGroup>
@{
    var count = EnumExtensions.GetEnumCount(typeof(StatType));
    ViewBag.Title = "Школы магии";
}
<div class="nav nav-tabs col-12 mt-md-2 row justify-content-center p-0">
    @for (var i = 0; i < count; i++)
    {
        var a = (StatType)i;
        <a class="btn btn-@a.Color() mx-1" data-toggle="tab" href="#@a.Description()">
            @Model[i].Element
        </a>
    }
</div>
<div class="tab-content col-12">
    @foreach (var group in Model)
    {
        <div class="tab-pane fade" id="@group.Stat.Description()">
            <div class="row justify-content-around">
                <div class="col-12 text-center m-2">@group.Special</div>
                <div class="nav nav-tabs col-12 flex-column flex-sm-row px-2 justify-content-center">
                    @foreach (var school in group.Schools)
                    {
                        <a class="btn btn-@group.Stat.Color() mx-1 smallForSmall d-sm-block @(school.Id % 2 == 0 ? "active" : "")"
                           data-toggle="tab" href="#@group.Stat.ToString()@school.Id">@school.Name</a>
                        <br />
                    }
                </div>
                <div class="tab-content col-12 smallForSmall">
                    @foreach (var school in group.Schools)
                    {
                        var showDesc = !school.Spells.All(x => string.IsNullOrEmpty(x.Effect));
                        <div class="tab-pane fade @(school.Id % 2 == 0 ? "show active":"")" id="@group.Stat.ToString()@school.Id">
                            <p class="m-2">@Html.Raw(school.Desc)</p>
                            <table class="table table-striped">
                                <tr>
                                    <th>Уровень</th>
                                    <th>Название</th>
                                    @if (showDesc)
                                    {
                                        <th>Эффект</th>
                                    }
                                    <th>Стоимость</th>
                                </tr>
                                @foreach (var spell in school.Spells)
                                {
                                    <tr>
                                        <td>@spell.Level</td>
                                        <td>@spell.Name</td>
                                        @if (showDesc)
                                        {
                                            <td>
                                                @if (spell.Damage > 0)
                                                {
                                                    @:<span class="text-danger">Урон @spell.Damage</span>
                                                }
                                                @spell.Effect
                                            </td>
                                        }
                                        <td>@spell.Cost</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="col-12" id="randomSpell">
    @Html.Partial("_RandomSpell", "")
</div>
