@using Boot.Enums
@using Boot.Helpers
@model List<Boot.Models.JsonModels.Perk>
@{
    var maxLevel = (int)ViewBag.MaxLevel;
    ViewBag.Title = "Способности";
}
<div class="col-12">
    @Html.ActionLink("Редактировать", "Perks", "Editor", null, new { @class="btn btn-warning float-right" })
</div>
<div class="nav nav-tabs col-12 mt-sm-2 px-2 px-sm-3">
    @for (var i = 0; i < maxLevel; i++)
    {
        <a class="btn btn-primary mx-1 @(i == 0 ? "active" : "")" data-toggle="tab" href="#group_@i">
            <span class="d-none d-sm-inline">Уровень</span>
            @(i + 1)
        </a>
    }
</div>
<div class="tab-content col-sm-6 col-12 text-left row order-sm-last">
    @foreach (var perk in Model)
    {
        <div class="tab-pane fade" id="perk_@perk.id">
            <div class="h4">@perk.name</div>
            <div class="mb-2">@perk.desc</div>
            <div>
                Требования:
                <ul>
                    @foreach (var r in perk.requirements.Where(x => x.type != RequirementType.Level))
                    {
                        switch (r.type)
                        {
                            case RequirementType.Perk:
                                <li>
                                    @(r.type.Description()): @Model.Single(x => x.id == r.value).name
                                </li>
                                break;
                            case RequirementType.Race:
                                <li>
                                    @(r.type.Description()): @r.strValue
                                </li>
                                break;
                            case RequirementType.Stat:
                                <li>
                                    @r.strValue: @r.value
                                </li>
                                break;

                        }
                    }
                    @if (perk.requirements.All(x => x.type == RequirementType.Level))
                    {
                        @:Нет
                    }
                </ul>
            </div>
            <hr />
    </div>
    }
</div>
<div class="tab-content col-sm-6 col-12 text-left px-2 px-sm-0">
    @for (var i = 0; i < maxLevel; i++)
    {
        <div class="tab-pane fade @(i == 0 ? "show active" : "")" id="group_@i">
            <div class="nav nav-tabs flex-column">
                @foreach (var perk in Model.Where(x => x.requirements.Single(y => y.type == RequirementType.Level).value == i + 1))
                {
                    <a class="btn btn-light m-1 mr-auto border" data-toggle="tab" href="#perk_@perk.id">@perk.name</a>
                }
            </div>
        </div>
    }
</div>