@using Pnprpg.DomainService.Enums
@using Pnprpg.Web.Helpers
@model IQueryable<Pnprpg.DomainService.Models.PerkViewModel>
@{
    ViewBag.Title = "Способности";
    var branches = Model.Select(x => x.Branch).Distinct().ToList();
}
@if (AccessHelper.UserInRole(Request, User, UserRole.Editor))
{
    <div class="col-12">
        @Html.ActionLink("Редактировать", "Perks", "Editor", null, new { @class = "btn btn-warning float-right" })
    </div>
}
<div class="nav nav-tabs col-12 my-sm-2 px-2 px-sm-3 justify-content-center">
    @foreach (var branch in branches)
    {
        <a class="btn btn-primary m-1 mw-160 text-dark col-md-3" data-toggle="tab" href="#group_@branch.Id" style="background-color: #@branch.Color">
            @branch.Name
        </a>
    }
</div>
<div class="tab-content text-left">
    @foreach (var branch in branches)
    {
        <div class="tab-pane fade col-lg-6 mx-auto" id="group_@branch.Id">
            @foreach (var perk in Model.Where(x => x.Branch.Id == branch.Id).OrderBy(x => x.Level))
            {
                <div class="card m-1">
                    <div class="card-header">
                        <div class="badge bg-dark big-badge">@perk.Level</div>
                        @perk.Name
                        @if (User.IsInRole(UserRole.Editor.ToString()) || User.IsInRole(UserRole.Admin.ToString()))
                        {
                            <div class="float-right">
                                <a href="@Url.Action("EditPerk", "Editor", new {id = perk.Id})" class="link-info">Изменить</a>
                            </div>
                        }
                    </div>
                    <div class="card-body px-2">
                        @if (perk.Max > 1)
                        {
                            @:Количество улучшений:
                            <div class="badge bg-warning big-badge">@perk.Max</div>
                            <br />
                        }
                        @perk.Description
                    </div>
                </div>
            }
        </div>
    }
</div>
<div class="col-md-3 col-sm-1 col-12 order-first order-sm-2"></div>