<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container mt-2">
        <div id="main" class="row justify-content-center">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/js/core")
    @Scripts.Render("~/js/main")
    @RenderSection("scripts", false)
</body>
</html>
