<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Домой</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar"
                aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="@Url.Action("Index", "HeroGen")">Генератор персонажа</a>
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="@Url.Action("Index", "Alchemy")">Алхимия</a>
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="@Url.Action("Magic", "Home")">Школы магии</a>
                </li>
                <li class="nav-item active mx-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-none" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <a class="nav-link text-light" href="javascript:document.getElementById('logoutForm').submit()">
                            Выйти
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Account")" class="nav-link text-light">Войти</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>