@using Pnprpg.DomainService.Models
@model Pnprpg.DomainService.Models.RaceEditModel
@{
    ViewBag.Title = Model.Id == 0 ? "Новая раса" : Model.Name;
    var bonuses = (SelectableList)ViewBag.Bonuses;
    var abilities = (SelectableList)ViewBag.Abilities;
}

@using (Html.BeginForm("EditRace", "Editor", FormMethod.Post, new { @class = "col-12 mx-auto" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col-12">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Описание</label>
        <div class="col-12 text-left">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control html-editor" })
        </div>
    </div>

    <button type="button" class="btn btn-outline-primary clone-btn"
            data-container="#hr" data-style="prepend" data-target=".default-bonus">
        Добавить бонус
    </button>
    <button type="button" class="btn btn-outline-primary clone-btn"
            data-container="#hr" data-style="prepend" data-target=".ability-bonus">
        Добавить характеристику
    </button>

    if (Model.Bonuses != null)
    {
        var i = 0;     
        foreach (var bonus in Model.Bonuses.Select(model => new FormQueryItem(bonuses.List, i++, model)))
        {
            @Html.Partial("Edit/_BonusSelect", bonus)
        }
    }
    if (Model.Abilities != null)
    {
        var j = 0;     
        foreach (var ability in Model.Abilities.Select(model => new NumericFormQueryItem(abilities.List, j++, model.Id, model.Value)))
        {
            @Html.Partial("Edit/_AbilitySelect", ability)
        }
    }
    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
}

<div class="d-none default-bonus">
    @{
        var defaultModel = new FormQueryItem(bonuses.List);
        @Html.Partial("Edit/_BonusSelect", defaultModel)
    }
</div>
<div class="d-none ability-bonus">
    @{
        var abilityModel = new NumericFormQueryItem(abilities.List);
        @Html.Partial("Edit/_AbilitySelect", abilityModel)
    }
</div>