@using Pnprpg.DomainService.Models
@using Pnprpg.Web.Helpers
@model Pnprpg.DomainService.Models.WeaponEditModel
@{
    ViewBag.Title = Model.Id == 0 ? "Новое оружие" : Model.Name;
    var skills = (SelectableList)ViewBag.SkillList;
    var bonuses = (SelectableList)ViewBag.Bonuses;
    skills.Selected = Model.SkillId;
}

@using (Html.BeginForm("EditWeapon", "Editor", FormMethod.Post, new { @class = "col-md-6 col-12 mx-auto" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Уровень</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Level, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Вес</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Weight, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Навык</label>
        <div class="col">
            @Html.DropDownListFor(x => x.SkillId, skills.GetSelectList(), new { @class = "form-select" })
        </div>
    </div>

    if (bonuses.List.Any())
    {
        <button type="button" class="btn btn-outline-primary clone-btn"
                data-container="#hr" data-style="prepend" data-target=".default-bonus">
            Добавить бонус
        </button>
    }
    else
    {
        <div class="alert alert-danger">Нет доступных бонусов</div>
    }
    if (Model.Bonuses != null)
    {
        var i = 0;
        foreach (var bonus in Model.Bonuses.Select(model => new FormQueryItem(bonuses.List, i++, model)))
        {
            @Html.Partial("Edit/_BonusSelect", bonus)
        }
    }
    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
}

<div class="d-none default-bonus">
    @{
        var defaultModel = new FormQueryItem(bonuses.List);
        @Html.Partial("Edit/_BonusSelect", defaultModel)
    }
</div>