@using Pnprpg.DomainService.Models
@model Pnprpg.DomainService.Models.BranchEditModel
@{
    ViewBag.Title = Model.Id == 0 ? "Новый класс" : Model.Name;
    var bonuses = (SelectableList)ViewBag.Bonuses;
    var hasBonuses = bonuses != null && bonuses.List.Any();
}

@using (Html.BeginForm("EditBranch", "Editor", FormMethod.Post, new { @class = "col-12 mx-auto" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col-12">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Цвет</label>
        <div class="col-12">
            @Html.TextBoxFor(x => x.Color, new { @class = "form-control color-picker" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Краткое описание</label>
        <div class="col-12">
            @Html.TextAreaFor(x => x.ShortDescription, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Описание</label>
        <div class="col-12 text-left">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control html-editor" })
        </div>
    </div>

    if (hasBonuses)
    {
        <button type="button" class="btn btn-outline-primary clone-btn"
                data-container="#hr" data-style="prepend" data-target=".default-bonus">
            Добавить бонус
        </button>
    }
    else
    {
        <div class="alert alert-danger">Нет доступных бонусов</div>
    }
    if (Model.Bonuses != null)
    {
        var i = 0;
        foreach (var model in Model.Bonuses)
        {
            var bonus = new FormQueryItem(bonuses.List, i++, model);
            @Html.Partial("Edit/_BonusSelect", bonus)
        }
    }
    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
}

@if (hasBonuses)
{
    <div class="d-none default-bonus">
        @{
            var defaultModel = new FormQueryItem(bonuses.List);
            @Html.Partial("Edit/_BonusSelect", defaultModel)
        }
    </div>
}