@using Pnprpg.DomainService.Models
@model Pnprpg.DomainService.Models.SpellEditModel
@{
    ViewBag.Title = Model.Id == 0 ? "Новое заклинание" : Model.Name;
    var schools = (SelectableList)ViewBag.Schools;
}

@using (Html.BeginForm("EditSpell", "Editor", FormMethod.Post, new { @class = "col-md-10 col-12 mx-auto" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Школа</label>
        <div class="col">
            @Html.DropDownListFor(x => x.MagicSchoolId, schools.GetSelectList(), new { @class = "form-select" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Мин. уровень школы</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Level, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Эффект</label>
        <div class="col">
            @Html.TextAreaFor(x => x.Effect, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Цена</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Cost, new { @class = "form-control" })
        </div>
    </div>

    <hr />
    <button type="submit" class="btn btn-success">Сохранить</button>
}