@model Pnprpg.DomainService.Models.PerkEditModel
@{
    ViewBag.Title = Model.Id == 0 ? "Новая способность" : Model.Name;
}

@using (Html.BeginForm("EditPerk", "Editor", FormMethod.Post, new { @class = "col-md-6 col-12 mx-auto" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Уровень</label>
        <div class="col-9">
            @Html.TextBoxFor(x => x.Level, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Ранги</label>
        <div class="col-9">
            @Html.TextBoxFor(x => x.Max, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col-9">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div><div class="row">
        <label class="col-3 col-form-label text-left">Эффект</label>
        <div class="col-9">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        </div>
    </div><div class="row">
        <label class="col-3 col-form-label text-left">Класс</label>
        <div class="col-9">
            @Html.DropDownListFor(x => x.BranchId, (SelectList)ViewBag.Branches, new { @class = "form-control" })
        </div>
    </div>

    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
}