@using Boot.Helpers
@model Boot.Models.MagicSchoolPageModel
<div class="row justify-content-around">
    <div class="col-12 text-center m-2">@Model.Common</div>
    <div class="nav nav-tabs col-12">
        <a class="btn btn-@Model.Stat.Color() mx-1 active" data-toggle="tab" href="#@Model.Stat.ToString()c1">@Model.Header1</a>
        <a class="btn btn-@Model.Stat.Color() mx-1" data-toggle="tab" href="#@Model.Stat.ToString()c2">@Model.Header2</a>
    </div>
    <div class="tab-content col-12 text-left">
        <div class="tab-pane fade show active" id="@Model.Stat.ToString()c1">@Html.Raw(Model.Content1)</div>
        <div class="tab-pane fade" id="@Model.Stat.ToString()c2">@Html.Raw(Model.Content2)</div>
    </div>
</div>