@using Boot.Enums
@using Boot.Helpers
@using Boot.Models.JsonModels
@model List<MagicSchoolGroup>
@{
    var count = EnumExtensions.GetEnumCount(typeof(StatType));
    ViewBag.Title = "Школы магии";
}
<div class="nav nav-tabs col-12">
    @for (var i = 0; i < count; i++)
    {
        var a = (StatType)i;
        <a class="btn btn-@a.Color() mx-1" data-toggle="tab" href="#@a.Description()">@a.Translation()</a>
    }
</div>
<div class="tab-content col-12">
    @foreach (var group in Model)
    {
        <div class="tab-pane fade" id="@group.Stat.Description()">
            <div class="row justify-content-around">
                <div class="col-12 text-center m-2">@group.Special</div>
                <div class="nav nav-tabs col-12">
                    @foreach (var school in group.Schools)
                    {
                        <a class="btn btn-@group.Stat.Color() mx-1 @(school.Id == 0 ? "active" : "")" data-toggle="tab"
                           href="#@group.Stat.ToString()@school.Id">@school.Name</a>
                    }
                </div>
                <div class="tab-content col-12 text-left">
                    @foreach (var school in group.Schools)
                    {
                        <div class="tab-pane fade @(school.Id % 10 == 0 ? "show active":"")" id="@group.Stat.ToString()@school.Id">
                            <div>@Html.Raw(school.Novice)</div>
                            <div>@Html.Raw(school.Adept)</div>
                            <div>@Html.Raw(school.Master)</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>