@page
@using Pnprpg.DomainService.Models
@model IndexModel
@{
    ViewData["Title"] = "Школы магии";
}
<ul class="nav nav-tabs row justify-content-center px-0">
    @foreach (var school in Model.Schools)
    {
        <li class="col-6 nav-item">
            <a class="btn btn-block smallForSmall border d-sm-block my-1 nav-link" data-toggle="tab"
               href="#school_@school.Id" style="background-color: #@school.Color">@school.Name</a>
        </li>
    }
</ul>

<div class="tab-content col-12 smallForSmall">
    @foreach (var school in Model.Schools)
    {
        <div class="tab-pane fade" id="school_@school.Id">
            <p class="m-2">@Html.Raw(school.Description)</p>
            <table class="table table-striped">
                <tr>
                    <th>Уровень</th>
                    <th>Название</th>
                    <th>Эффект</th>
                    <th>Стоимость</th>
                </tr>
                @foreach (var spell in school.Spells)
                {
                    <tr>
                        <td>@spell.Level</td>
                        <td class="font-weight-bold">@spell.Name</td>
                        <td>@(spell.Damage > 0 ? string.Format(spell.Effect, spell.Damage) : spell.Effect)</td>
                        <td>@spell.Cost</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

<div class="col-12" id="randomSpell">
    @await Html.PartialAsync(SitePages.Magic_Random, new SpellViewModel())
</div>