<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Nav")
    <div class="container p-default">
        <h3 class="text-center my-2">@ViewBag.Title</h3>
        <div id="main" class="row justify-content-center text-center">@RenderBody()</div>
    </div>
    <footer class="fixed-bottom">
        <div id="loading">@Html.Partial("_Loading")</div>
    </footer>
    @Html.Partial("_Scripts")
    @RenderSection("scripts", false)
</body>
</html>
