<nav class="navbar sticky-top navbar-expand-md navbar-dark px-5">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">Домой</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar"
            aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-2">
                <a href="https://vk.com/dndotvlada" class="nav-link text-light">
                    <i class="fa-vk fab h5 m-0"></i>
                </a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="@Url.Action("Index", "HeroGen")">Персонаж</a>
            </li>
            <li class="nav-item active mx-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="rulesDropdown" data-toggle="dropdown">
                    Правила
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="nav-link" href="@Url.Action("Index", "Alchemy")">Алхимия</a>
                    <a class="nav-link" href="@Url.Action("Index", "Magic")">Школы магии</a>
                    <a class="nav-link" href="@Url.Action("Perks", "Home")">Способности</a>
                    <a class="nav-link" href="@Url.Action("Weaponry", "Home")">Оружейная</a>
                </div>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                @Authed()
            }
            else
            {
                <li class="nav-item active mx-2">
                    <a href="@Url.Action("Index", "Account")" class="nav-link text-light">
                        <i class="fa-sign-in-alt fas h5 m-0"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>

@helper Authed()
{
    if (User.IsInRole("Admin"))
    {
        @Admin()
    }
    if (User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        @Editor()
    }
    <li class="nav-item active mx-2 dropdown">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-none" }))
        {
            @Html.AntiForgeryToken()
        }
        <a class="nav-link text-light" href="javascript:document.getElementById('logoutForm').submit()">
            <i class="fa-sign-out-alt fas h5 m-0"></i>
        </a>
    </li>
}

@helper Admin()
{
    <li class="nav-item active mx-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Админ
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a class="nav-link" href="@Url.Action("Users", "Admin")">Настройка ролей</a>
            <a class="nav-link" href="@Url.Action("UpdateBook", "Book")">Обновить книгу</a>
        </div>
    </li>
}
@helper Editor()
{
    <li class="nav-item active mx-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Редактор
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a class="nav-link" href="@Url.Action("Races", "Editor")">Расы</a>
            <a class="nav-link" href="@Url.Action("Branches", "Editor")">Классы</a>
            <a class="nav-link" href="@Url.Action("Bonuses", "Editor")">Бонусы</a>
            <a class="nav-link" href="@Url.Action("Skills", "Editor")">Навыки</a>
            <a class="nav-link" href="@Url.Action("Perks", "Editor")">Способности</a>
            <a class="nav-link" href="@Url.Action("Weapons", "Editor")">Оружие</a>
            <a class="nav-link" href="@Url.Action("Spells", "Editor")">Заклинания</a>
        </div>
    </li>
}