<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark px-lg-5">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">Домой</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar"
            aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mx-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="heroDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Персонаж
                </a>
                <div class="dropdown-menu" aria-labelledby="heroDropdown">
                    <a class="nav-link" href="@Url.Action("Index", "HeroGen")">Создать</a>
                    <a class="nav-link" href="@Url.Action("MyHero", "HeroGen")">Мой персонаж</a>
                </div>
            </li>
            <li class="nav-item active mx-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="rulesDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Правила
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="rulesDropdown">
                    <a class="nav-link" href="@Url.Action("Index", "Alchemy")">Алхимия</a>
                    <a class="nav-link" href="@Url.Action("Magic", "Home")">Школы магии</a>
                    <a class="nav-link" href="@Url.Action("Perks", "Home")">Способности</a>
                    <a class="nav-link" href="@Url.Action("Skills", "HeroGen")">Навыки</a>
                    <a class="nav-link" href="@Url.Action("Weaponry", "Home")">Оружейная</a>
                </div>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                @Authed()
            }
            else
            {
                <li class="nav-item active mx-2">
                    <a href="@Url.Action("Index", "Account")" class="nav-link text-light">Войти</a>
                </li>
            }
        </ul>
    </div>
</nav>

@helper Authed()
{
    if (User.IsInRole("Admin"))
    {
        @Admin()
    }
    if (User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        @Editor()
    }
    <li class="nav-item active mx-2 dropdown">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-none" }))
        {
            @Html.AntiForgeryToken()
        }
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                Выйти
            </a>
        </div>
    </li>
}

@helper Admin()
{
    using (Html.BeginForm("DeleteBook", "Book", FormMethod.Post, new { id = "bookUpdate", @class = "d-none" }))
    {
        @Html.AntiForgeryToken()
    }
    <li class="nav-item active mx-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Админ
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropdown">
            <a class="nav-link" href="@Url.Action("Users", "Admin")">Настройка ролей</a>
            <a class="nav-link" href="javascript:document.getElementById('bookUpdate').submit()">
                Обновить книгу
            </a>
        </div>
    </li>
}
@helper Editor()
{
    <li class="nav-item active mx-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Редактор
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropdown">
            <a class="nav-link" href="@Url.Action("Perks", "Editor")">Способности</a>
            <a class="nav-link" href="@Url.Action("Weapons", "Editor")">Оружие</a>
        </div>
    </li>
}