@using Microsoft.AspNetCore.Http
@using Pnprpg.WebCore.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
    <meta property="og:image" content="/favicon.ico">
    <link rel="stylesheet" href="/css/main.min.css" />
</head>
<body class="d-flex flex-column min-vh-100" style="--color: @Context.Items["Color"]">
    @await Html.PartialAsync("Navigation/_CommonHeader")
    <div class="back d-xl-block d-none"></div>
    <div class="back d-xl-block d-none right"></div>
    <div class="container p-default bg-white flex-grow-1 mb-5">
        @if ((bool?)ViewData["HideTitle"] != true)
        {
            <div class="my-3">
                @if (!string.IsNullOrEmpty((string)ViewData["UrlBack"]))
                {
                    <div class="position-absolute ml-5">
                        <a href="@ViewData["UrlBack"]" class="btn-info btn btn-sm">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </a>
                    </div>
                }
                <h3 class="text-center">
                    @ViewData["Title"]
                </h3>
            </div>
        }
        <div id="main" class="row justify-content-center text-center pb-5 mx-0">
            @RenderBody()
        </div>
    </div>
    <div class="fixed-bottom">
        @await Component.InvokeAsync("Footer")
    </div>
    <div id="loading">@await Html.PartialAsync("_Loading")</div>
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("scripts", false)
</body>
</html>
