@page
@using Pnprpg.WebCore.Helpers
@model EditModel
@{
    ViewData["Title"] = Model.Input.Id == 0 ? "Новое существо" : Model.Input.Name;
    ViewData["UrlBack"] = Url.CustomPage(SitePages.MajorEditorCreaturesIndex);
}

<form method="post" class="col-lg-6 col-12 mx-auto">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Input.Id)
    <div class="row">
        @Html.EditorFor(x => x.Input.Name, new { blockClass = "col-md-5" })
        @Html.EditorFor(x => x.Input.Group, new { blockClass = "col-md-4" })
        @Html.EditorFor(x => x.Input.Level, new { blockClass = "col-md-3", type = "number" })
        @Html.EditorFor(x => x.Input.Description, "Description")
    </div>
    <hr />
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>