@using Microsoft.AspNetCore.Html
@using NonFactors.Mvc.Grid
@using Pnprpg.DomainService.Models
@using Pnprpg.WebCore.Helpers
@model IQueryable<Pnprpg.DomainService.Models.RaceViewModel>
@(Html.Grid(Model).Build(columns =>
{
    columns.Add(x => x.Name).Titled("Название");
    columns.Add(x => x.Bonuses).RenderedAs(Bonuses).Titled("Бонусы").Css("mw-260");
    columns.Add(x => x).RenderedAs(Actions).Css("no-wrap");
}).Empty("No data found").Css("table table-responsive text-left"))

@{
    IHtmlContent Bonuses(RaceViewModel x) => PartialHelper.Body(
    @<text>
        @foreach (var bonus in x.Bonuses)
        {
            <a href="@Url.CustomPage(SitePages.MajorEditorBonusesEdit, new{bonus.Id})"
               class="btn btn-light border-dark btn-sm my-1">
                @bonus.Name
            </a>
        }
        @if (!x.Bonuses.Any())
        {
            @:Нет
        }
    </text>
    );

    IHtmlContent Actions(RaceViewModel x) => PartialHelper.Body(
    @<text>
        <a href="@Url.CustomPage(SitePages.MajorEditorRacesEdit, new {x.Id})" class="btn btn-info fas fa-pen"></a>
        <button class="btn confirm-btn btn-danger fas fa-trash" data-form="deleteForm" data-field="ModelId"
                data-value="@x.Id" data-text="Раса @x.Name будет удалена"></button>
    </text>
    );
}
