@using Boot.Enums
@using Boot.Models
@{
    const string
        ttNormal = "Базовые атрибуты по 8 и 8 свободных очков",
        ttHigh = "Базовые атрибуты по 1 и 36 свободных очков",
        ttExtreme = "Все атрибуты случайно сбалансированы, свободных очков нет",
        ttRandom = "Все атрибуты случайны и не сбалансированы, свободных очков нет",
        lblHeader = "Выберите тип генерации";
}

<div class="col-12 h3 my-2">@lblHeader</div>
<button class="col-md-2 col-5 btn btn-success ajax-btn m-2" data-toggle="tooltip" data-placement="bottom" title="@ttNormal"
        data-action="@Status.Stats" data-url="@Url.Action("GetHeroModel", new {level = ChaosLevel.Normal})">
    Нормальный
</button>
<button class="col-md-2 col-5 btn btn-warning ajax-btn m-2" data-toggle="tooltip" data-placement="bottom" title="@ttHigh"
        data-action="@Status.Stats" data-url="@Url.Action("GetHeroModel", new {level = ChaosLevel.High})">
    Сложный
</button>
<button class="col-md-2 col-5 btn btn-danger ajax-btn m-2" data-toggle="tooltip" data-placement="bottom" title="@ttExtreme"
        data-action="@Status.Stats" data-url="@Url.Action("GetHeroModel", new {level = ChaosLevel.Extreme})">
    Экстрим
</button>
@*<button class="col-md-2 col-5 btn btn-dark ajax-btn m-2" data-toggle="tooltip" data-placement="bottom" title="@ttRandom"
        data-action="@Status.Stats" data-url="@Url.Action("GetHeroModel", new {level = ChaosLevel.Random})">
    Рандом
</button>*@