@using Boot.Enums
@using Boot.Helpers
@model Boot.Models.HeroModel

@SecondStat("Уровень", "dark", Model.Level)
@SecondStat("Урон", StatType.S.Color(), Model.BaseDmg())
@SecondStat("Защита", StatType.E.Color(), Model.BaseArmor())
@SecondStat("Здоровье", StatType.E.Color(), Model.MaxHp())
@SecondStat("Запас маны", StatType.I.Color(), Model.MaxEp())
@SecondStat("Вместимость", StatType.S.Color(), Model.MaxCarry())

@helper SecondStat(string name, string color, int value)
{
    <div class="col-xl-2 col-md-4 col-6">
        <div class="row border">
            <div class="col bg-@color py-2 px-sm-4">@name<span class="float-right font-weight-bold">@value</span></div>
        </div>
    </div>
}