@model Boot.Models.HeroModel
@{ 
    var a = Model;
}
@SecondStat("Уровень", "#111", Model.Level)
@SecondStat("Урон", Model.Stats.Single(x => x.Id == "S").Color, Model.BaseDmg())
@SecondStat("Защита", Model.Stats.Single(x => x.Id == "E").Color, Model.BaseArmor())
@SecondStat("Здоровье", Model.Stats.Single(x => x.Id == "E").Color, Model.MaxHp())
@SecondStat("Запас маны", Model.Stats.Single(x => x.Id == "I").Color, Model.MaxEp())
@SecondStat("Вместимость", Model.Stats.Single(x => x.Id == "S").Color, Model.MaxCarry())

@helper SecondStat(string name, string color, int value)
{
    <div class="col-xl-2 col-md-4 col-6">
        <div class="row border">
            <div class="col py-2 px-sm-3 text-light" style="background-color: @color">
                @name<span class="float-right font-weight-bold badge bg-light big-badge" style="color: @color">@value</span>
            </div>
        </div>
    </div>
}