@using Boot.Enums
@using Boot.Helpers
@model List<Boot.Models.Trait>
@{
    var limit = Model.Count(x => x.Chosen) == Constants.TraitCount;
}
<div class="h3 col-12">Выберите до @Constants.TraitCount особенностей</div>
@foreach (var trait in Model)
{
    var available = !trait.Chosen && !limit;
    <div class="card col-10 col-md-5 col-md-3 smallForSmall m-1">

        <div class="card-header font-weight-bold">
            @trait.name
            @if (trait.Chosen)
            {
                <div class="badge badge-success">✓</div>
            }
            else if (!limit)
            {
                <div class="badge ajax-btn pointer btn-success" data-url="@Url.Action("ChooseTrait", new {trait.id})">
                    +
                </div>
            }
        </div>
        <div class="card-body">
            @foreach (var effect in trait.effects.OrderBy(x => x.type))
            {
                <div>
                    @{
                        var span = "";
                        switch (effect.type)
                        {
                            case EffectType.Boost:
                                span = $"<span class='badge alert-success'>+{effect.value}</span>";
                                break;
                            case EffectType.Weaken:
                                span = $"<span class='badge alert-danger'>-{effect.value}</span>";
                                break;
                            default:
                                span = $"<span class='badge alert-info'>{effect.value}</span>";
                                break;
                        }
                        if (string.IsNullOrEmpty(effect.statId))
                        {
                            @Html.Raw(string.Format(effect.desc, span))
                        }
                        else
                        {
                            @Html.Raw(string.Format(effect.desc, span, effect.Stat.Name))
                        }
                    }
                </div>
            }
        </div>
    </div>
}
<div class="col-12 py-2">
    <button class="btn btn-primary btn-sm ajax-btn" data-url="@Url.Action("ResetTraits")">
        ↺ Перераспределить
    </button>
    <button class="btn btn-success btn-sm ajax-btn" data-url="@Url.Action("GetSkills")">
        ✓ Сохранить
    </button>
</div>
