<li class="nav-item active mx-2 dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        Редактор
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-link" asp-page="@SitePages.EditorRacesIndex">Расы</a>
        <a class="nav-link" asp-page="@SitePages.EditorBranchesIndex">Классы</a>
        <a class="nav-link" asp-page="@SitePages.EditorBonusesIndex">Бонусы</a>
        <a class="nav-link" asp-page="@SitePages.EditorSkillsIndex">Навыки</a>
        <a class="nav-link" asp-page="@SitePages.EditorPerksIndex">Способности</a>
        <a class="nav-link" asp-page="@SitePages.EditorWeaponsIndex">Оружие</a>
        <a class="nav-link" asp-page="@SitePages.EditorSpellsIndex">Заклинания</a>
        <a class="nav-link" asp-page="@SitePages.EditorCreaturesIndex">Бестиарий</a>
    </div>
</li>