<li class="nav-item active mx-2 dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        Редактор
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-link" href="@Url.Action("Races", "Editor")">Расы</a>
        <a class="nav-link" href="@Url.Action("Branches", "Editor")">Классы</a>
        <a class="nav-link" href="@Url.Action("Bonuses", "Editor")">Бонусы</a>
        <a class="nav-link" href="@Url.Action("Skills", "Editor")">Навыки</a>
        <a class="nav-link" href="@Url.Action("Perks", "Editor")">Способности</a>
        <a class="nav-link" href="@Url.Action("Weapons", "Editor")">Оружие</a>
        <a class="nav-link" href="@Url.Action("Spells", "Editor")">Заклинания</a>
    </div>
</li>