<nav class="navbar sticky-top navbar-expand-md navbar-dark px-5">
    <a class="navbar-brand" asp-page="@SitePages.Index">Домой</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar"
            aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mx-2 dropdown dont-hide">
                <a class="nav-link dropdown-toggle" href="#"data-toggle="dropdown">
                    Персонаж
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="nav-link" asp-page="@SitePages.HeroGenIndex">Создать нового</a>
                    <a class="nav-link" asp-page="@SitePages.SheetsIndex">Листы персонажа</a>
                </div>
            </li>
            <li class="nav-item active mx-2 dropdown dont-hide">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Правила
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="nav-link" href="@Url.Action("Index", "Book")" target="_blank">Книга правил</a>
                    <a class="nav-link" asp-page="@SitePages.AlchemyIndex">Алхимия</a>
                    <a class="nav-link" asp-page="@SitePages.MagicIndex">Школы магии</a>
                    <a class="nav-link" asp-page="@SitePages.PerksIndex">Способности</a>
                    <a class="nav-link" asp-page="@SitePages.WeaponryIndex">Оружейная</a>
                </div>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                await Html.RenderPartialAsync("Navigation/_Authed");
            }
            <li class="nav-item mx-2">
                <a href="https://vk.com/dndotvlada" class="nav-link text-light">
                    <i class="fa-vk fab h5 m-0"></i>
                </a>
            </li>
            <li class="nav-item mx-2">
                <a asp-page="@SitePages.DonationIndex" class="nav-link text-light">
                    <i class="fa-donate fas h5 m-0"></i>
                </a>
            </li>
            <li class="nav-item active mx-2">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-page="@SitePages.AccountSignIn" class="nav-link text-light">
                        <i class="fa-sign-in-alt fas h5 m-0"></i>
                    </a>
                }
                else
                {
                    <form method="post" asp-page="@SitePages.AccountSignOut" id="logoutForm"></form>
                    <button class="btn btn-link nav-link active border-0" type="submit" form="logoutForm">
                        <i class="fa-sign-out-alt fas h5 m-0"></i>
                    </button>
                }
            </li>
        </ul>
    </div>
</nav>
