@using Boot.Enums
@model Boot.Models.HeroModel
<div class="col-12 h4 my-2">@Model.RaceStr</div>
@{
    Html.RenderPartial("_FirstStats", Model.Stats.ToList());
    Html.RenderPartial("_SecondStats", Model);
}
<div class="col-md-6 col-12 card">
    <div class="h5 card-header">Особенности</div>
    <div class="card-body">
        @{
            Html.RenderAction("GetTraitsNames", new { ids = Model.Traits });
        }
    </div>
</div>
<div class="col-md-6 col-12 card">
    <div class="h5 card-header">Навыки</div>
    <div class="card-body">
        @{
            Html.RenderAction("GetSkillsNames", new { ids = Model.Skills });
        }
    </div>
</div>

<div class="col-12 col-md-8 col-lg-6 my-2">
    @if (User.Identity.IsAuthenticated)
    {
        using (Ajax.BeginForm("Index", null, new AjaxOptions { }, new { @class = "row form-inline" }))
        {
            @Html.Label("name", "Имя персонажа", new { @class = "col-sm-4 col" })
            @Html.TextBox("name", "", new { @class = "form-control col-sm-8" })
            <div class="col my-2"><button class="btn btn-success">Сохранить</button></div>
        }
    }
    else
    {
        <a href="@Url.Action("Index", "Account",
                     new {returnUrl = Url.Action("Index", new {status = Status.Result})})">
            Войдите, чтобы сохранить персонажа
        </a>
    }
</div>

<div class="col-md-6 col-12 mt-2 input-group d-none">
    <div class="input-group-prepend">
        <div class="input-group-text">
            Код персонажа
        </div>
    </div>
    @Html.TextBox("code", Model.ToString(), new { @class = "form-control" })
</div>
