@using Boot.Helpers
@model Boot.Models.JsonModels.SkillGroupList
<div id="skillsCarousel" class="carousel row justify-content-center">
    <div class="carousel-inner col-6">
        @foreach (var group in Model.Groups)
        {
            <div class="carousel-item @(group.Id == Model.Selected ? "active" : "")">
                <table class="m-auto table">
                    <tr>
                        <th class="px-0">Атрибут</th>
                        <th>@group.Name</th>
                        <th>Цена</th>
                    </tr>
                    @foreach (var skill in group.Skills)
                    {
                        <tr>
                            <td class="alert-@skill.Stat.Color()">@skill.Stat</td>
                            <td>@StringHelper.FormatToSentence(skill.Name)</td>
                            <td>@(skill.Difficulty + 1)</td>
                            @if (Model.Editable)
                            {
                                var color = skill.CanInc ? "success" : "secondary";
                                <td>
                                    <button class="btn btn-@color btn-sm ajax-btn" data-container="skillList"
                                            data-url="@Url.Action("AddSkill", new{ group = group.Id, id = skill.Id})"
                                            @(skill.CanInc ? "" : "disabled")>
                                        +1
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                </table>

            </div>
        }
    </div>
    <div class="col-1 order-first">
        <a class="carousel-control-prev order-first" href="#skillsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-1">
        <a class="carousel-control-next" href="#skillsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div>Свободных очков навыков: @Model.FreePoints</div>
<button class="btn btn-info btn-sm ajax-btn" data-url="@Url.Action("ResetSkills")" data-container="skillList">↺ Перераспределить</button>
