@using Boot.Helpers
@model Boot.Models.SkillGroupModel
<table class="m-auto table">
    <tr>
        <th>Атрибут</th>
        <th>@Model.GroupName</th>
        <th>Цена</th>
    </tr>
    @foreach (var skill in Model.Skills)
    {
        <tr>
            <td class="alert-@skill.Stat.Color()">@skill.Stat</td>
            <td>@skill.Name</td>
            <td>@skill.Difficulty</td>
            @if (Model.Editable)
            {
                var color = skill.Increasable ? "success" : "secondary";
                <td><button class="btn btn-@color btn-sm ajax-btn" data-container="@(Model.Group)group" 
                            data-url=""
                            @(skill.Increasable ? "" : "disabled")>+1</button></td>
            }
        </tr>
    }
</table>
