@using Boot.Enums
@using Boot.Helpers
@model Boot.Models.HeroModel

@for (var i = 0; i < Model.Stats.Length; i++)
{
    var a = (StatType)i;
    <div class="col-md-3 col-6">
        <div class="row border">
            <div class="col bg-@a.Color() py-2 px-sm-4">@a.Translation()<span class="float-right font-weight-bold">@Model.Stats[i]</span></div>
            <div class="col-12 my-2">@ButtonGroup(Model.Stats[i], a, Model.MinAttr, Model.FreeStatPoints())</div>
        </div>
    </div>
}

@Html.Partial("_SecondStats", Model)

<div class="col-md-4 col-12">
    <div class="my-3">
        <div id="status"></div>
        @{Html.RenderAction("RacesDropdown", new { chosen = Model.Race });}
    </div>
    <div class="alert alert-info m-0 py-2">Cвободных очков: @Model.FreeStatPoints()</div>
    <button class="mt-3 btn @(Model.FreeStatPoints() == 0 ? "btn-success" : "btn-secondary") ajax-btn"
            data-url="@Url.Action("Traits")" @(Model.FreeStatPoints() == 0 ? "" : "disabled")>
        Ок
    </button>
</div>

@helper ButtonGroup(int param, StatType stat, int minValue, int freePoints)
{
    <div class="btn-group">
        @Button(param, stat, -3, minValue, freePoints, true)
        @Button(param, stat, -1, minValue, freePoints, false)
        @Button(param, stat, 1, minValue, freePoints, false)
        @Button(param, stat, 3, minValue, freePoints, true)
    </div>
}

@helper Button(int param, StatType stat, int value, int minValue, int freePoints, bool onlyLg)
{
    bool canChange;
    if (value > 0)
    {
        canChange = param + value <= Constants.MaxStat && freePoints - value >= 0;
    }
    else
    {
        canChange = param + value >= minValue;
    }
    var onlyLgClass = onlyLg ? "d-lg-block d-none" : "";
    <button class="btn @GetColor(canChange) @onlyLgClass ajax-btn" @(canChange ? "" : "disabled") data-action="@Status.Stats"
            data-url="@Url.Action("ChangeStat", new {stat, value})">
        @(value > 0 ? $"+{value}" : $"{value}")
    </button>
}

@helper GetColor(bool can)
{
    @(can ? "btn-success" : "btn-secondary")
}