@page
@using Pnprpg.WebCore.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Редактор заклинаний";
}

<div class="col-12 mb-3">
    <a class="btn btn-success" href="@Url.CustomPage(SitePages.MajorEditorSpellsEdit)">Добавить новое</a>
</div>

<div class="row justify-content-center">
    <div class="col-4 my-2">
        <a href="@Url.CustomPage(SitePages.MajorEditorSpellsIndex)" class="d-block border-colourful border-dark text-decoration-none py-1">
            Все
        </a>
    </div>
    @foreach (var school in Model.Schools)
    {
        <div class="col-4 my-2">
            <a href="@Url.CustomPage(SitePages.MajorEditorSpellsIndex, new {school.Id})"
               class="d-block border-colourful text-decoration-none py-1" style="--color: #@school.Color">
                @school.Name
            </a>
        </div>
    }
</div>

<div class="mvc-grid" data-source-url="@Url.CustomPage(SitePages.MajorEditorSpellsIndex, "Grid", new{filter = Model.Filtered})"></div>

<form action="@Url.CustomPage(SitePages.MajorEditorSpellsIndex, "Delete")" method="post" asp-antiforgery="true" id="deleteForm">
    @Html.Hidden("ModelId")
</form>