@using Microsoft.AspNetCore.Html
@using NonFactors.Mvc.Grid
@using Pnprpg.DomainService.Models
@using Pnprpg.WebCore.Helpers
@model IQueryable<Pnprpg.DomainService.Models.PerkViewModel>
@(Html.Grid(Model).Build(columns =>
{
    columns.Add(x => x.Branch.Name).RenderedAs(Branch).Filterable(GridFilterType.Single).Css("bg-dark").Filterable(true).Titled("Класс");
    columns.Add(x => x.Level).Titled("Уровень").Sortable(true);
    columns.Add(x => x.Max).Titled("Ранги");
    columns.Add(x => x.Name).Titled("Название").Css("w-25");
    columns.Add(x => x.Description).Titled("Эффект").Css("w-50");
    columns.Add(x => x).RenderedAs(Actions).Css("no-wrap");
}).Empty("No data found").Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Css("table table-responsive"))

@{
    IHtmlContent Branch(PerkViewModel x) => PartialHelper.Body(
    @<div style="color: #@x.Branch.Color">@x.Branch.Name</div>);

IHtmlContent Actions(PerkViewModel x) => PartialHelper.Body(
@<text>
    <a href="@Url.CustomPage(SitePages.MajorEditorPerksEdit, new{x.Id})" class="btn btn-info fas fa-pen"></a>
    <button class="btn confirm-btn btn-danger fas fa-trash" data-form="deleteForm" data-field="ModelId"
            data-value="@x.Id" data-text="Способность @x.Name будет удалена"></button>
</text>);
}