@using System.Globalization
@using Pnprpg.DomainService.Enums
@model Pnprpg.DomainService.Models.NewsViewModel

<div class="card smallForSmall">
    <div class="card-header d-sm-flex justify-content-between px-4 font-weight-bold">
        <div class="order-sm-last">@Model.Date.ToString("D", new CultureInfo("ru"))</div>
        <div class="h4 m-0">@Model.Title</div>
    </div>
    <div class="card-body text-left p-3">
        @Html.Raw(Model.Content)
        @if (User.IsInRole(UserRole.Admin.ToString()))
        {
            <a asp-page="@SitePages.AdminNewsEdit" asp-route-id="@Model.Id" class="d-block text-right">
                <i class="fas fa-edit"></i>
            </a>
        }
    </div>
</div>