@page
@using Pnprpg.WebCore.Helpers
@model Pnprpg.WebCore.Pages.Editor.Perks.EditModel
@{
    ViewData["Title"] = Model.Input.Id == 0 ? "Новая способность" : Model.Input.Name;
}

<form class="col-md-9 col-12 mx-auto" method="post">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Input.Id)
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Уровень</label>
        <div class="col-9">
            @Html.TextBoxFor(x => x.Input.Level, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Ранги</label>
        <div class="col-9">
            @Html.TextBoxFor(x => x.Input.Max, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col-9">
            @Html.TextBoxFor(x => x.Input.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Input.Name)
        </div>
    </div><div class="row">
        <label class="col-3 col-form-label text-left">Эффект</label>
        <div class="col-9">
            @Html.TextAreaFor(x => x.Input.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Input.Description)
        </div>
    </div><div class="row">
        <label class="col-3 col-form-label text-left">Класс</label>
        <div class="col-9">
            @Html.DropDownListFor(x => x.Input.BranchId, SelectableHelper.GetSelectList(Model.Branches), new { @class = "form-select" })
        </div>
    </div>

    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>