@page
@using System.Globalization
@model Pnprpg.WebCore.Pages.Editor.News.EditModel
@{
    ViewData["Title"] = Model.Input.Id == 0 ? "Новая новость" : Model.Input.Title;
}

<form class="col-12 mx-auto" method="post">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Input.Id)
    <div class="row">
        <label class="col-3 col-form-label text-left">Заголовок</label>
        <div class="col-12">
            @Html.TextBoxFor(x => x.Input.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Дата</label>
        <div class="col-12">
            @Html.HiddenFor(x => x.Input.Date)
            <div class="form-control text-left" readonly>
                @Model.Input.Date.ToString("D", new CultureInfo("ru"))
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Текст</label>
        <div class="col-12 text-left">
            @Html.TextAreaFor(x => x.Input.Content, new { @class = "form-control html-editor" })
        </div>
    </div>

    <hr id="hr" />
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>