@page
@using Pnprpg.WebCore.Helpers
@model Pnprpg.WebCore.Pages.Editor.Spells.EditModel
@{
    ViewData["Title"] = Model.Input.Id == 0 ? "Новое заклинание" : Model.Input.Name;
}

<form class="col-md-10 col-12 mx-auto" method="post">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="row">
        <label class="col-3 col-form-label text-left">Название</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Input.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Input.Name)
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Школа</label>
        <div class="col">
            @Html.DropDownListFor(x => x.Input.MagicSchoolId, SelectableHelper.GetSelectList(Model.Schools), new { @class = "form-select" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Мин. уровень школы</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Input.Level, new { type = "number", @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Эффект</label>
        <div class="col">
            @Html.TextAreaFor(x => x.Input.Effect, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Input.Effect)
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label text-left">Цена</label>
        <div class="col">
            @Html.TextBoxFor(x => x.Input.Cost, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Input.Cost)
        </div>
    </div>

    <hr />
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>