@using NonFactors.Mvc.Grid
@using Pnprpg.DomainService.Models
@model IQueryable<Pnprpg.DomainService.Models.BranchViewModel>

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(x => Name(x)).Titled("Название");
    columns.Add(x => Bonuses(x.Bonuses)).Titled("Бонусы");
    columns.Add(x => x.ShortDescription).Titled("Краткое описание").Css("d-none d-md-block");
    columns.Add(x => Actions(x)).Css("no-wrap");
}).Empty("No data found").Css("table table-responsive"))

@helper Bonuses(List<BonusViewModel> list)
{
    foreach (var bonus in list)
    {
        <a href="@Url.Action("EditBonus", new {id = bonus.Id})" class="btn btn-light border-dark btn-sm my-1">@bonus.Name</a>
    }
    if (!list.Any())
    {
        @:Нет
    }
}

@helper Name(BranchViewModel x)
{
    <div style="background-color: #@x.Color" class="p-2 rounded">@x.Name</div>
}

@helper Actions(BranchViewModel x)
{
    <a href="@Url.Action("EditBranch", new {id = x.Id})" class="btn btn-info fas fa-pen"></a>
}
